<br />
<br />


  <%if(home){%>
  <br><br>
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>
        Video Tools
      </h3>
      <ul>
        <li>
          <a href="/mp4tomp3">MP4 to MP3</a>
        </li>
        <li>
          <a href="/mp3tomp4">MP3 to MP4</a>
        </li>
        <li>
          <a href="/avitomp4">AVI to Mp4</a>
        </li>
        <li>
          <a href="/avitomp3">AVI to Mp3</a>
        </li>
        <li>
          <a href="/mp4toavi">MP4 to AVI</a>
        </li>
        <li>
          <a href="/mp3toavi">MP3 to AVI</a>
        </li>
        <li>
          <a href="/mp4toflv">MP4 to FLV</a>
        </li>
        <li>
          <a href="/mp3toflv">MP3 to FLV</a>
        </li>
        <li>
          <a href="/avitoflv">AVI to FLV</a>
        </li>
        <li>
          <a href="/flvtoavi">FLV to AVI</a>
        </li>
        <li>
          <a href="/flvtomp3">FLV to MP3</a>
        </li>
        <li>
          <a href="/flvtomp4">FLV to MP4</a>
        </li>
        <li>
          <a href="/mutevideo">Mute Video</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h3>
        Image & File Tools
      </h3>
      <ul>
        <li>
          <a href="/pngtojpg">PNG to JPG</a>
        </li>
        <li>
          <a href="/pngtobmp">PNG to BMP</a>
        </li>
        <li>
          <a href="/pngtotiff">PNG to TIFF</a>
        </li>
        <li>
          <a href="/compresspng">Compress PNG</a>
        </li>
        <li>
          <a href="/compressjpg">Compress JPG</a>
        </li>
        <li>
            <a href="/compressgif">Compress GIF</a>
        </li>
        <li>
          <a href="/compresssvg">Compress SVG</a>
        </li>
        <li>
          <a href="/mergepdf">Merge PDF</a>
        </li>
        <li>
          <a href="#">MP3 to AVI</a>
        </li>
        <li>
          <a href="#">MP4 to FLV</a>
        </li>
        <li>
          <a href="#">AVI to FLV</a>
        </li>
        <li>
          <a href="#">FLV to MP3</a>
        </li>
        <li>
          <a href="#">MP3 to FLV</a>
        </li>
      </ul>
    </div>

    <div class="col-sm-4">
      <h3>
        Video Tools
      </h3>
      <ul>
        <li>
          <a href="#">MP4 to MP3</a>
        </li>
        <li>
          <a href="#">MP3 to MP4</a>
        </li>
        <li>
          <a href="#">AVI to Mp4</a>
        </li>
        <li>
          <a href="#">AVI to Mp3</a>
        </li>
        <li>
          <a href="#">MP4 to AVI</a>
        </li>
        <li>
          <a href="#">MP3 to AVI</a>
        </li>
        <li>
          <a href="#">MP4 to FLV</a>
        </li>
        <li>
          <a href="#">AVI to FLV</a>
        </li>
        <li>
          <a href="#">FLV to MP3</a>
        </li>
        <li>
          <a href="#">MP3 to FLV</a>
        </li>
      </ul>
    </div>
  </div>
  <%}%>
</div>
</div>