<!DOCTYPE html>
<html>
  <head>
    <!-- bootstrap cdn for the css-->
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/spacelab/bootstrap.min.css"
    />
    <!-- end-->
    <title>
      <%= viewTitle %>
    </title>
  </head>
</html>
